.event-cards {
	width: 940px;
	display: flex;
	flex-wrap: wrap;
	align-content: stretch;
	justify-content: space-between;
	margin: auto;
}

.card {
	width: 220px;
    height: 270px;
    border-radius: 7px;
    margin-top: 20px;
    border: none;
}

.card-title {
	font-weight: 500;
}