@import "./nav-panel.css";
@import "./event-select.css";
@import "./event-cards.css";
@import "./nav-panel-mobile.css";

body {
	background-color: rgb(242, 242, 242);
	max-width: 1300px;
	margin: auto;
}

.main-wrap {
	height: 988px;
	background: url("../images/climbo-background.jpg");
	margin: auto;
	background-size: cover;
}

.search-bar {
	outline: none;
}

.btn-outline-success {
	border: none;
}

@media screen and (min-width: 577px) {
	.nav-panel-mobile { 
		display: none; 
	}
}

@media screen and (max-width: 992px) {
	.main-wrap {
		width: 1140px;
	}
	.event-cards {
		width: 960px;
	}
	.card {
		width: 295px;
    	height: 340px;
	}
	.card-button {
		margin-left: 183px;
	}
}

@media screen and (max-width: 768px) {
	.main-wrap {
		width: 910px;
	}
	.event-cards {
		width: 710px;
	}
	.card {
		width: 220px;
    	height: 285px;
	}
	.card-button {
		margin-left: 112px;
	}
	.event-select {
		width: 710px;
	}
	.event-element {
		font-size: 12px;
	}
	.nav-panel {
		width: 710px;
	}
}

@media screen and (max-width: 576px) {
	.nav-panel-mobile { 
		display: block; 
	}
	.main-wrap {
		height: 288px;
    	width: 560px;
	}
	.event-cards {
		width: 520px;
	}
	.card-button {
    	margin-left: 125px;
	}
	.card {
    	width: 250px;
    	height: 320px;
    	box-shadow: 2px 2px 1px rgb(180, 180, 180);
	}
	.event-select {
		width: 520px;
	}
	.fourth-select { display: none; }
	.fifth-select { display: none; }
	.sixth-select { display: none; }
	.random-select { display: block; }
	.event-element {
		font-size: 20px;
	}
	.nav-panel { 
		display: none; 
	}
}
