@import "./nav-panel.css";
@import "./event-select.css";
@import "./event-cards.css";
@import "./adapt.css";
@import "./nav-panel-mobile.css";

body {
	background-color: rgb(242, 242, 242);
	max-width: 1300px;
	margin: auto;
}

.main-wrap {
	background: url("../images/climbo-background.jpg");
	margin: auto;
	background-size: cover;
}

.search-bar {
	outline:none;
}

.btn-outline-success {
	border: none;
}