@import "./panel-mobile/mobile-settings.css";
@import "./panel-mobile/mobile-params.css";

.panel-mobile {
	display: flex;
	font-size: 32px;
	color: white;
	align-items: center;
	max-width: 520px;
	margin: auto;
}

.mobile-search-field {
	display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 50px;
}

.search-visible {
	display: none;
}

.fieldVisible {
	display: flex;
	transition: opacity .5s;
}