.pararms {
	padding-top: 30px;
}

.mobile-title {
	font-size: 42px;
	font-weight: 500;
}

.menu-bar {
	font-size: 40px;
    margin-right: 40px;
}

.mobile-title {
	margin-right: 125px;
}

.mobile-icon-search {
	color: rgb(127, 137, 149);
	font-size: 40px;
	margin-right: 48px;
}

.mobile-icon-search:hover {
	color: white;
}

.menu-dot {
	font-size: 40px;
	margin-left: 58px;
}