.pararms {
	padding-top: 30px;
}

.pararms .panel-mobile--wrap:nth-of-type(2) {
	justify-content: flex-end;
}

.mobile-title {
	font-size: 42px;
	font-weight: 500;
}

.menu-bar {
    font-size: 40px;
    margin-right: 3%;
}

.mobile-icon-search {
	color: rgb(127, 137, 149);
	font-size: 40px;
	margin-right: 48px;
}

.mobile-icon-search:hover {
	color: white;
}

.menu-dot {
	font-size: 40px;
	margin-left: 7%;
}

.panel-mobile--wrap {
	display: flex;
    align-items: center;
    width: 100%;
}