.nav-panel-search {
	color: white;
    display: flex;
    align-items: center;
    height: 50px;
    width: 250px;
    justify-content: center;
    border: 1px solid white;
    border-radius: 25px;
}

.button-search {
	background-color: transparent;
	outline: none;
	border: none;
	color: white;
	display: flex;
    align-items: center;
}

.button-search:focus {
	outline: none;
}

.icon-search {
	font-size: 23px;
}

.input-search {
	border: none;
	outline: none;
	background-color: transparent;
	vertical-align: middle;
	color: white;
	margin-left: 20px;
}


.input-search:-webkit-autofill:focus {
	-webkit-text-fill-color: white;
	-webkit-box-shadow: 0 0 0px 1000px transparent inset;
	transition: background-color 5000s ease-in-out 0s;
}

.input-search[type="search"] {
	font-size: 20px;
    width: 150px;
    margin-right: 20px;
    font-weight: 600;
}

.input-search::-webkit-input-placeholder {
	color: white;
}